<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<p>Registeration successfull</p>
<form action="" method="post">
  <label for="uname">Username:</label><br>
  <input type="text" id="uname" name="uname"><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password"><br>
  <label for="city">City:</label><br>
  <input type="text" id="city" name="city"><br>
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email"><br><br>
  <br>
  <input type="submit" value="Submit">
</form>
</body>
</html>